node_modules
.git
.gitignore
.dockerignore
.claude
.midasbuy-profile
.midasbuy-template.json
*.log
debug-dumps
README.md

aegis.min.js
bundle2.js
bundle3.js
gtm.js
idk.js
main.f8b.bundle.js
pubj.js
pubjmobil.js
vm.js
midasbuy-automation.js
